<!DOCTYPE html>
<html>
 <head>
   <title>Places to meet up</title>
   <link rel='stylesheet' href='/stylesheets/style.css' />
   <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvbZE0GM5MCMkrn70jbMRp-01JB4cYqUQ&libraries=places"> </script>
   <script type="text/javascript" src="/javascripts/map.js"></script>
 </head>
 <body>
   <h1>Close to you</h1>
<br>
   <!-- MAP -->
<form method="POST" action="">
  <input type="text" id="pac-input">
  </form>
<section>
  <p>User1</p>
  <p>User2</p>
  <p>User3</p>
</section>
       <style>
          #map-canvas {
           height: 500px;
           width: 100%;
          }
       </style>


<div id="map-canvas"></div>
<div>
<!-- <input type="text" id="searchTextField"> -->

Latitud<input type="text" id="lat">

</div>
 </body>



 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"> </script>




<div class="container" id="map-canvas" style="height:300px;"></div>


</html>
