<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvbZE0GM5MCMkrn70jbMRp-01JB4cYqUQ&libraries=places"> </script>
    <script type="text/javascript" src="/javascripts/map.js"></script>
    <script src="javascripts/main.js" type="text/javascript"></script>
    <link rel='stylesheet' href='/stylesheets/style.css'>


</head>
<!-- check out user name to fix -->
<h1> Suggestions for , <span><%= user %></span> </h1>
<!-- put some icons for the different categories on top of the button -->
<button  type="button"   id="textil" class="trigger">Textil</button>
<button  type="button" id="handcraft" class="trigger">HandCraft</button>
<button  type="button" id="tecnology" class="trigger">Tecnology</button>

<form id="item-display">
    <ul action="/suggestion">
        <li>Carpet</li>
        <li>Mr.Whisky</li>
        <li>Furby</li>
    </ul>
</form>

<div id="display"></div>

<form method="POST" action="">
  <input type="text" id="pac-input">
  </form>
<style>
   #map-canvas {
    height: 400px;
    width: 90%;
    margin: auto;
   }
</style>


<div id="map-canvas"></div>
<div>
<!-- <input type="text" id="searchTextField"> -->

Longitude<input type="text" id="long">
Latitude<input type="text" id="lat">

</div>
<!-- <a href="/users/map">map</a> -->

<div class="footer"></div>
