<!DOCTYPE html>
<html>
<head>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBvbZE0GM5MCMkrn70jbMRp-01JB4cYqUQ&libraries=places"> </script>
 <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
 <link href="https://fonts.googleapis.com/css?family=Comfortaa|Orbitron" rel="stylesheet">
 <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
   <script src="javascripts/main.js" type="text/javascript"></script>
   <link rel='stylesheet' href='/stylesheets/style.css'>
<script type="text/javascript" src="/javascripts/map.js"></script>


</head>


<body>

  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">mend</a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/profile" class="landing-nav">Profile</a></li>
          <li><a href="/logout" class="landing-nav">Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>


<!-- check out user name to fix -->
<div class="suggestions-div">
<!-- <h1> Suggestions for <%= user.name%> </h1> -->

<!-- put some icons for the different categories on top of the button -->
<button class="trigger" type="button" id="textiles">Clothing/Textiles</button>
<button class="trigger" type="button" id="furniture">Furniture</button>
<button class="trigger" type="button" id="electronics">Electronics</button>
<button class="trigger" type="button" id="toys">Toys</button>
<button class="trigger" type="button" id="appliances">Appliances</button>
<button class="trigger" type="button" id="bicycles">Bicycles</button>

</div>



<table id="UserItemDis" class="table table-inverse" style="width:55%">
<thead>
 <tr>
   <th scope="row"></th>
   <th>Name  </th>
   <th>Product  </th>
   <th>  <span class="glyphicon glyphicon-envelope"></span></th>
 </tr>
</thead>
<tbody>
 <tr>
   <th  scope="row"></th>
   <td><div id="displayUser"></div></td>
   <td><div id="display"></div></td>
   <td><div id="displayEmail"></div></td>
 </tr>
 <tbody>
</table>

<form method="POST" action="">
<input type="text" id="pac-input">
</form>


<br>
<div id="map-canvas"></div><p>



<footer>Copyright &copy; Mend
</footer>
</body>
 </html>
