<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MEND</title>
    <link href="https://fonts.googleapis.com/css?family=Comfortaa|Orbitron" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


  </head>
  <body>
    <div class="navbar">
        <div id="header">mend</div>
        <a href="/signup" id="nav-button">Sign up</a>
        <a href="/login" id="nav-button">Login</a>
    </div>

  <!-- IMAGES -->
    <!-- Jeans -->
    <!-- https://s-media-cache-ak0.pinimg.com/originals/b9/c6/84/b9c684e26fe7fc5d5190fad2eaaabf20.jpg -->
    <!-- Teddy -->
    <!-- http://madepeachy.com/wp-content/uploads/2013/07/Teddy-SOS-3.jpg -->

    <!-- http://www.psi-repair.com/images/services/Electronic/ElectronicRepair2.jpg -->





  </body>
</html>
