body {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
  height: 1000px;
}

#table-item {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}

.navbar-default .navbar-brand {

    border-color: #e7e7e7;
    color: white;
}


.landing-nav {
  color: white !important;
}

.navbar {
  margin-bottom: 0;
  background-color: rgb(47, 191, 211);
  color: white;
}

.navbar-brand {
  font-size: 3em;
  color: white;
  font-family: "Montserrat", sans-serif;
}

.delete-item {
    margin-left: 120px;

     margin-left: 100px;

     margin-bottom: 15px;
      -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
      -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
      box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
      background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2 ), color-stop(1, #476e9e ));
      background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
      background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
      background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
      background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
      background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
      filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2 ', endColorstr='#476e9e ',GradientType=0);
      background-color:#7892c2 ;
      -moz-border-radius:6px;
      -webkit-border-radius:6px;
      border-radius:6px;
      border:1px solid #4e6096 ;
      display:inline-block;
      cursor:pointer;
      color:#ffffff ;
      font-family:Arial;
      font-size:15px;
      font-weight:bold;
      padding:6px 24px;
      text-decoration:none;
      text-shadow:0px 1px 0px #283966 ;
  }
}

#carousel {
  margin-top: -30px;
  width: 100%;
}

.carousel-inner {
  height: 500px;

}

.carousel-inner .item img {
  min-width: 100%;
  max-height: 100%;
  position: absolute;
}


 img {
   max-width: 100% !important;
 }

 .img-rounded {
  border-radius: 6px;
}

.circle-custom{
  width: 280px;
  height: 250px;
  margin: 0 auto;
}



#header {
  font-size: 2.8em;
  font-weight: bold;
  letter-spacing: 6px;
  margin-left: 10px;
  color: rgb(172, 236, 245);
  font-family: "Montserrat", sans-serif;

}

.landing {
  background-color: rgb(74, 195, 211);
  color: white;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  margin: auto;

}

#landing-text {
  text-align: center;
}

.tagline {
  font-size: 1.2em;
}

#mend {
  font-size: 1.4em;
}


#needs-fixing {
  clear: left;
  margin-top: 80px;
  border-top: 3px solid black;

}


#profile-picture {
  height: 100px;
  width: 100px;
  float: left;
  margin-right: 15px;
}

.form-title {
  font-size: 1.6em;
}



.footer {
  background-color: rgb(47, 191, 211);
  height: 12%;
  margin-bottom: 0 !important;
}


.row {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}


.col-xs-8 {
text-align: center;
 font-size: 12px;
 font-family: "Montserrat", sans-serif;
 /*border: .5px solid black;*/
 /*border-radius: 10px;*/
 margin-top: 80px;
}

#header {
 font-size: 2.8em;
 letter-spacing: 6px;
 margin-left: 10px;
 color: white;
 font-family: "Montserrat", sans-serif;

}

.fixing {
  background-color: rgb(172, 236, 245);
  color: black;
   font-family: "Montserrat", sans-serif;
}

.form-title {
 font-size: 1.6em;
}

.suggestions-div {
  margin-top: 100px;
}


.col-xs-8 {
 text-align: center;
>>>>>>> Acoffee
}


a {
 color: #00B7FF ;
}

#form {
 margin: 30px auto;
 width: 380px;
}

.name-input {

  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  width: 100%;
}

.email-input {
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  margin-top: 5px;
  width: 100%;
}

.password-input {
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  margin-top: 5px;
  width: 100%;
}

#user-id {
  visibility: hidden;
}

#item-id {
  visibility: hidden;
}
.enter-button {
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  margin-top: 5px;
  width: 100%;
 border-radius: 5px;
 background-color: rgb(240, 240, 240);
 width: 100%;
}

.email-input {
 border-radius: 5px;
 background-color: rgb(240, 240, 240);
 margin-top: 5px;
 width: 100%;
}

.password-input {
 border-radius: 5px;
 background-color: rgb(240, 240, 240);
 margin-top: 5px;
 width: 100%;
}

.enter-button {
 border-radius: 5px;
 background-color: rgb(240, 240, 240);
 margin-top: 5px;
 width: 100%;
>>>>>>> Acoffee
}


#form label {
 color: #666;
 display: inline-block;
 margin-bottom: 10px;
 text-align: center;
 width: 100%;
}

#form input,
#form button {
 box-sizing: border-box;
 font-size: 14px;
 outline: 0;
 padding: 4px;
 width: 100%;
}

#form button {
 background: #43a3e6 ;
 border: 1px solid #43a3e6 ;
 border-radius: 4px;
 color: #fff;
 cursor: pointer;
 display: inline-block;
 font-size: 14px;
 padding: 8px 16px;
 text-decoration: none;
 text-transform: uppercase;
 transition: .3s ease background;
 width: 100%;
}

#form button:hover {
 background: #fff;
 color: #43a3e6 ;
 transition: .3s ease background;
}

.error-message {
 background: #F02B63 ;
 box-sizing: border-box;
 color: #fff;
 margin: 20px auto;
 padding: 20px;
 width: 100%;
}

#item-form {
 display: inline-block;
}

.item {
 width: 100%;
 height: 100%;
}


#new-items {
 height: 100px;
 width: 40%;
}

#welcome-user {
 font-size: 1em;
 border-bottom: solid 1px black;
 padding-bottom: 50px;
}


/*BUTTONS*/
#suggestion-button {
 width: 85px;
 height: 40px;
 /*float: right;*/
 background-color: black;
 border: 1px solid white;
 border-radius: 5px;
 color: white;
 padding-left: 5px;
 padding-top: 14px;

}



#log-out {
 width: 85px;
 height: 35px;
 /*float: right;*/
 background-color: black;
 border: 1px solid white;
 border-radius: 5px;
 color: white;
 padding-left: 20px;
 padding-top: 14px;


}



#sign-up-form {
 height: 350px;
 margin-top: 40px;
 border-radius: 5px;
 border: .5px solid black;
}
html,
body,

#map-canvas {
height: 400px;
width: 97%;
margin: auto;
top:60px;
}

#item-form {
  display: inline-block;
}


img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

#new-items {
  height: 100px;
  width: 40%;
}

#welcome-user {
  font-size: 1em;
  margin-top: 70px;
}

#welcome-name {
  padding-bottom: 20px;
  float: left;

}


/*BUTTONS*/
#suggestion-button {
  width: 85px;
  height: 40px;
  /*float: right;*/
  background-color: black;
  border: 1px solid white;
  border-radius: 5px;
  color: white;
  padding-left: 5px;
  padding-top: 14px;


}



#nav-button {

   margin-top: -35px;
   margin-left: 10px;
   float: right;
   margin-bottom: 15px;
   margin-right: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2 ), color-stop(1, #476e9e ));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2 ', endColorstr='#476e9e ',GradientType=0);
    background-color:#7892c2 ;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #4e6096 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966 ;
}
#nav-button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e ), color-stop(1, #7892c2 ));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e ', endColorstr='#7892c2 ',GradientType=0);
    background-color:#476e9e ;
}
#nav-button:active {
    position:relative;
    top:1px;
}


#add-item-button {

   /*margin-top: -35px;*/
   margin-left: 10px;
   /*float: right;*/
   margin-bottom: 15px;
    -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2 ), color-stop(1, #476e9e ));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2 ', endColorstr='#476e9e ',GradientType=0);
    background-color:#7892c2 ;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #4e6096 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966 ;
}

/*#nav-button:active {
  background-color: rgb(209, 237, 220);
  box-shadow: 0 2px #666;
  transform: translateY(4px);
}*/

#sign-up-form {
  height: 350px;
  margin-top: 40px;
  border-radius: 5px;
  border: .5px solid black;
}

.trigger {
   margin-right: 30px;
   margin-bottom: 15px;
   margin-top: 10px;
    -moz-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    -webkit-box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    box-shadow:inset 0px 1px 0px 0px #9fb4f2 ;
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7892c2 ), color-stop(1, #476e9e ));
    background:-moz-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-webkit-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-o-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:-ms-linear-gradient(top, #7892c2 5%, #476e9e 100%);
    background:linear-gradient(to bottom, #7892c2 5%, #476e9e 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7892c2 ', endColorstr='#476e9e ',GradientType=0);
    background-color:#7892c2 ;
    -moz-border-radius:6px;
    -webkit-border-radius:6px;
    border-radius:6px;
    border:1px solid #4e6096 ;
    display:inline-block;
    cursor:pointer;
    color:#ffffff ;
    font-family:Arial;
    font-size:15px;
    font-weight:bold;
    padding:6px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #283966 ;
}
.trigger:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #476e9e ), color-stop(1, #7892c2 ));
    background:-moz-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-webkit-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-o-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:-ms-linear-gradient(top, #476e9e 5%, #7892c2 100%);
    background:linear-gradient(to bottom, #476e9e 5%, #7892c2 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#476e9e ', endColorstr='#7892c2 ',GradientType=0);
    background-color:#476e9e ;
}
.trigger:active {
    position:relative;
    top:1px;
}

th {
  font-size: 12px;
  font-family: "Montserrat", sans-serif;
}
