<h1> Suggestions for , <span><%=theFixer.name %></span> </h1>

<button type="button">Textil</button>
<button type="button">HandCraft</button>
<button type="button">Tecnology</button>

<form action="/login" method="post">
 <ul action ="/suggestion">
  <li>Carpet</li>
  <li>Mr.Whisky</li>
  <li>Furby</li>
</ul>
